<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form Complete</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/bootstrap.css">
    <style>
    .wrapper {
        min-height: 800px;
        width: 900px;
        margin: 0px auto;
        padding: 50px;
    }
    .main {
        width: 100%;
        height: 400px;
        border: 1px solid slategray;
        padding: 100px;
    }
    .text-green {
        color: green;
        margin-left: 20px;
    }
    a {
        margin-left: 20px;
    }
</style>
</head>
<body>
    <div class="wrapper">
        <div id="main">
            <h1>Welcome, you've been registered, {{ session['firstName']}}!</h1>
            <a href="/wall">Continue to your wall</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    
</body>
</html>